/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */


@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.above-foot {
  margin-bottom: 130px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #464646;
  color: #FFFFF5;
}

.footer-logo {
  font-size: 13px;
}

.footer-logo:hover{
  cursor: pointer;
}

.bottom-bar {
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  padding: 10px 0;
  background: #747676;
  color: white;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-item {
  margin: auto;
  text-align: center;
  display: block;
  width: 100%;
  padding: 16px 0 40px 0;
}

.footer-item li {
  display: inline;
  padding: 0 30px;
}

.footer-item li > a{
  color: #989b99;
  padding: 5px 0;
}


.main-login {
  background-color: lightgrey;
}

.navbar-nav > li > a {
  padding: 1px;
  background-color: white;
}

.noah-nav ul li a:hover {
  background-color: white;
}

.navbar-right li a {
  color: #747676;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0 40px;
  line-height: 60px;
}

.dropdown-menu li a {
  padding-left: 10px;
}

.divider {
  border-bottom: 1px solid lightgrey;
}


.login-box {
  background-color: white;
  padding: 50px 10px 50px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-box h1 {
  font-weight: 700;
  font-size: 22px;
}

.login-box .btn {
  color: white;
  border-bottom: solid 1px #db9a09;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #f7b002;
}

.btn-guest{
  width: 400px;
  margin-bottom: 20px;
}
.login-errors {
  margin: auto;
  text-align: center;
}

.sign-in {
  border-right: 1px solid darkgrey;
  padding: 30px;
}

.sign-in h1 {
  text-align: center;
}

.sign-up {
  text-align: center;
  padding: 30px;
}

.login-box .btn:hover {
  background: #ffbe14;
}

.guest-login {
  padding-bottom: 30px;

  text-align: center;
}


// browse page

.browse {
  background-color: #f7f7f6;
}

.wine {
  color: white;
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1445354786/wineglasses_bgrwux.png");
  background-size:   cover;
  background-repeat: no-repeat;
  height: 300px;
  background-position: center center;
}

.listings-index-item {
  background-color: white;
  margin: 10px;
  overflow: hidden;
  border: 1px solid lightgrey;
  color: #464646;
}

.listings-index-item:hover {
  cursor: pointer;
}

.listings-index-item h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  max-height: 45px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.listings-index-item-details{
  padding-left: 5px;
}

.listings-index-item-details span{
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 1.5px;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

// carousel

.carousel {
  height: 550px;
  margin-bottom: 0px;
  border-top: 1px solid darkgrey;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  padding: 10px;
  left: 45%;
  right: 45%;
  min-width: 240px;
  font-size: 24px;
  z-index: 10;
  bottom: 80%;
  background-color: rgba(50, 50, 50, 0.8);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
}
.carousel-inner > .item > img{
  height: 550px;
  display: inline-block;
  margin: auto;
}

.carousel-caption {
  z-index: 10;
}

.item.active{
  overflow: hidden;
  margin: auto;
  min-width: 100%;
}

.center-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.side {
  min-width: 40%;
  filter: brightness(0.1);
  opacity: 0.2;
  position: absolute;
}

.side.left {
  left: 0;
}

.side.right {
  right: 0;
}

span.glyphicon.glyphicon-chevron-left{
  font-size: 50px;
}

span.glyphicon.glyphicon-chevron-right{
  font-size: 50px;
}

// Workshop Main Page

.workshop-text{
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  text-align: center;
  color: rgb(70, 70, 70);
}

.workshop-title{
  text-align: center;
  padding: 5px;
  font-size: 30px;
  font-weight: 400;
}

.workshop-sub-title{
  font-size: 18px;
  color: rgb(116, 118, 118);
}

.workshop-body{
  display: none;
}

.see-details:hover{
  cursor: pointer;
}

.signup-message{
  text-align: center;
  padding: 15px 10px 0 10px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(116, 118, 118);
}

// main body description and image for workshops

.workshop-description{
  position: relative;
  z-index: 1;
}

.icon-row i{
  font-size: 30px;
  color: rgb(152, 155, 153);
}

.info-row{
  color: rgb(152, 155, 153);
  white-space: pre-wrap;
}

.description-text{
  text-align: justify;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  white-space: pre-wrap;
  background-color: white;
  box-shadow: 0px 0px 5px 5px #222222;
  z-index: 10;
}

.workshop-description-background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  -webkit-filter: blur(4px) saturate(2);
  opacity: 0.5;
}


// host info

.host-info {
  text-align: center;
}

.host-img img {
  max-height: 270px;
  border-radius: 20%;
}

.host-about-me {
  text-align: justify;
  white-space: pre-wrap;
}


// home page

#header.header {
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1446790668/muralmax_jmmnb2.jpg");
  background-size: cover;
  display: block;
  height: 600px;
  width: 100%
}

.headercontent {
  display: block;
  padding: 10px;
  padding-top: 250px;
  text-align: center;
  color: white;
}

.maintitle {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
  line-height: 62.5px;
  font-size: 50px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 0 80px

}

.browseworkshops{
  width: 200px;
  margin-top: 50px;
  border-bottom: solid 1px #005c66;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-size: 13px;
  background-color: #06a8b8;
  color: white;
  padding: 0 10px;
  vertical-align: middle;
}

.browseworkshops:hover{
  color: white;
  background-color: #8cd2de;
}


.body-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color:#747676;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 100px;
}


.home-body {
  padding-top: 100px;
}

.body-title {
  margin-bottom: 100px;
}

.body-steps{
  box-sizing: border-box;
}

.exp-home-bg{
  padding-bottom: 200px;
  background-color: #fffefb;
  display: block;
}

@media (max-width: 992px) {
  .exp-home-bg{padding-bottom: 50px;}
}

.exp-homeimg{
  width: 100%;
  background-size: cover;
  height: 600px;
  display: block;
}

.exp-homeimg.step1{
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1446790661/IMG_0184_zhaf0f.jpg");
}

.exp-homeimg.step2{
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1445277802/ben_for_home_ykbvr0.jpg");
}

.exp-homeimg.step3{
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1446790671/boat_r6qjm7.jpg");
}

.exp-homequote {
  margin-top: -100px;
}

.exp-homecontent {
  background-color: #fffefb;
  text-align: center;
  line-height: 2;
  font-size: 18px;
  color: #747676;
  position: relative;
  padding: 20px;
  margin-top: -120px;
}



.exp-homeicon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/b_rgb:fff,bo_92px_solid_rgb:fff,c_scale,h_334,o_100,w_392/v1445277802/hammer_w1odsx.png");
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: -50px;
  border-radius: 50%;
  margin-left: -50px;
  z-index: 15;
  border: 3px solid;
}

.exp-hometext {
  padding: 35px 20px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: -25px;
    padding: 7px 16px;
    border: 2px solid #333;
    border-radius: 100%;
    font-size: 40px;
    color: #333;
    background-color: #f7b002;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.exp-home-title{
  font-family: 'Montserrat', sans-serif;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
  line-height: 62.5px;
  font-size: 50px;
  text-align: center;
  position: absolute;
  margin-top: 150px;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
}

.final-browse {
  margin-top: -75px;
  margin-bottom: 80px;
}



// profile

.profile-buttons{
  text-align: justify;
}

.sidebar {
  height: 100%;
}


.profile-pic{
  position: relative;
  display: block;
  height: 300px;
  margin: 20px;
  margin-bottom: 0px;
}

.update-profile-pic {
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: rgba(70, 70, 70, 0.7);
  padding: 15px;
  text-align: center;
  bottom: 0px;
}

.update-profile-pic:hover{
  font-size: 16px;
  cursor: pointer;
}

.profile-sidebar-text{
  margin: 20px;
  margin-top: 0px;
  background-color: #fff;
  padding: 10px;
  color: #575757;
}

.signup-btn{
  border-bottom: solid 1px #005c66;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-size: 15px;
  background-color: #06a8b8;
  color: white;
  padding: 0 10px;
  vertical-align: middle;
  width: 300px;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
}

.signup-btn:hover{
  color: white;
  background-color: #8cd2de;
}


.reservation {
  text-align: center;
}

.listings-index-pic{
  position: relative;
  display: block;
}

.listings-index-item:hover .listings-index-pic{
  -webkit-filter: brightness(120%);
}

.listings-index {
  margin-bottom: 200px;
}

.image-banner {
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  font-weight: 700;
  color: #fff;
  background: #c00;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0 1px 0 0 #070;
  opacity: 0.7;
}

.active-image-banner {
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  font-weight: 700;
  color: #fff;
  background: #0c0;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0 1px 0 0 #070;
  opacity: 0.8;
}


// modal

.modal {
    display: none;
  }
  .modal.is-active {
    display: block;
  }
  .modal-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
  }
  .modal-content {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px;
    margin-left: -250px;
    transform: translateY(-50%);
    background: white;
    border-radius: 5px;
  }


  .modal-content span {
    font-size: 20px;
    color: #888;
  }

  .modal-content label {
    color: #888;
  }

  .modal-content span.title {
    font-size: 20px;
    color: #555;
  }

  .modal-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
  }
  .modal-close:hover {
    color: black;
  }

  .star-bar {
    -webkit-padding-start: 0;
  }

  .star-bar li {
    display: inline-block;
    list-style: none;
    float: left;
    padding:0px;
    color: #f7b002;
  }

  .reviews-avg-stars{
    position: absolute;
    float: left;
    left: 50%;
    transform: translateX(-50%)
  }

  .reviews-avg-bar{
    background-color: #f8f9f7;
    color: #747676;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
    position: relative;
  }

  .avg-stars-p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 1;
    padding: 0 12px 0 8px;
  }

  .stars-in-workshop-bar ul{
    margin-top: 20px;
  }

  .profile-tiny-img, .avg-stars-p, .star-bar{
    float: left;
  }

  .profile-tiny-img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%
  }

  .profile-navbar-img {
    height: 50px;
    width: 50px;
    border-radius: 50%
  }

  .map{
    width: 100%;
    height: 600px;
  }

  //

  .workshop-reviews-total{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid rgb(234, 234, 234);
  }

  .workshop-reviews-total span{
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    height: auto;
    line-height: 28.5714302062988px;
  }

  .stars-avg-bottom{
    float: right;
  }

  .reviewer-image{
    display: block;
  }

  .review-bottom-title{
    color: rgb(70, 70, 70);
    margin-top: 15px;
  }

  .review-bottom-body{
    color: rgb(110, 110, 110);
    font-size: 13px;
  }

  .review-bottom-workshop span{
    color: rgb(255, 190, 20);
    font-size: 13px;
    padding-left: 5px;
  }

  .workshop-reviews{
    padding-bottom: 10px;
    border-top: 2px solid rgb(234, 234, 234);
    margin-bottom: 5px;
  }

  .map-bar{
    background-color: #f8f9f7;
    color: #747676;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-top: 10px;
  }

  .map-title{
    font-size: 18px;
    color: rgb(70, 70, 70);
  }

  .map-location-details{
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .exact{
    font-size: 13px;
    color: rgb(152, 155, 153);
  }


  // modals

  .modal-signup span{
    font-family: 'Montserrat', sans-serif;
    color: rgb(152, 155, 153);
    font-size: 14px;
    line-height: 35px;
  }

  .modal-signup span.modal-title{
    font-size: 18px;
    color: rgb(110, 110, 110);
  }


  // profile reviews


    .review-host-image{
      display: block;
    }

    .profle-review-bottom-title{
      color: rgb(70, 70, 70);
      font-size: 18px;
      font-weight: bold;
      margin-top: 15px;
    }

    .profle-review-bottom-body{
      color: rgb(152, 155, 153);
      font-size: 16px;
    }

    .profle-review-bottom-workshop span{
      color: rgb(255, 190, 20);
      font-size: 16px;
      padding-left: 5px;
    }

    .profile-reviews{
      padding-left: 2px;
      padding-bottom: 10px;
      margin-bottom: 5px;
      border-bottom: 2px solid #eaeaea;
    }


    .upcoming-item {
      background-color: white;
      margin: 10px;
      white-space: pre-wrap;
      border: 1px solid lightgrey;
      color: #464646;
      height: 340px;
    }

    .upcoming-item:hover {
      cursor: pointer;
    }

    .upcoming-item h2 {
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      max-height: 45px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .upcoming-item-details{
      padding-left: 5px;
      padding-right: 5px;
    }

    .upcoming-item-details span{
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      white-space: pre-wrap;
      margin: 0 2px;
    }

    .upcoming-pic{
      position: relative;
      display: block;
      overflow: hidden;
    }

    .upcoming-pic-date{
      display: block;
      color: white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background: rgba(70, 70, 70, 0.7);
      padding: 5px;
      text-align: center;
    }

    .upcoming-item:hover .upcoming-pic{
      -webkit-filter: brightness(120%);
    }

    .profile-main{
      border: 1px solid #ddd;
      padding-bottom: 1px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 1px;
    }


    .profile-main h1 {
      color: rgb(70, 70, 70);
      display: block;
      font-style: serif;
      font-size: 25px;
      font-weight: normal;
      height: 29px;
      line-height: 27.5px;
      margin-bottom: 5px;
      margin-left: 25px;
      margin-right: 0px;
      text-align: center;
      text-overflow: ellipsis;
      text-rendering: optimizeLegibility;
      text-shadow: none;
      white-space: nowrap;
      width: 698px;
      border-bottom: 2px solid #ddd;
    }

    .profile-total{
      background-color: #eee;
    }

  .profile-main{
    background-color: white;
  }

  .profile-right{
    border-left: 2px solid #ddd;
  }

  .review-host-image{
    margin:auto;
  }

  .update-review-btn{
    margin: auto;
    border-bottom: solid 1px #005c66;
    height: 25px;
    line-height: 25px;
    font-weight: 700;
    font-size: 10px;
    background-color: #06a8b8;
    color: white;
    padding: 0 10px;
    vertical-align: middle;
    width: 150px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .host-name-review{
    text-align: center;
  }

  .update-review-btn:hover{
    background-color: #8cd2de;
  }

  .sidebar-section{
    font-weight: bold;
    color: black;
  }

  span.title{
    padding-bottom: 10px;
    text-align: center;
  }

  .review-body-modal{
    margin: auto;
    padding: 10px;
  }

  .review-body-modal span{
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }

  span.modal-close {
    font-size: 40px;
  }


  .profile-btn{
    border-bottom: solid 1px #005c66;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    font-size: 13px;
    background-color: #06a8b8;
    color: white;
    padding: 0 10px;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .modal-content span.signin{
    line-height: 25px;
  }
