/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";


.main-login {
  background-color: lightgrey;
}

.noah-nav ul li a:hover {
  background-color: white;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-right a {
  color: #747676;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 40px 40px;
  line-height: 60px;
}

.login-box {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 50px;
}

.login-box h1 {
  font-weight: 700;
  font-size: 22px;
}

.login-box .btn {
  color: white;
  border-bottom: solid 1px #db9a09;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #f7b002;
}

.login-errors {
  margin: auto;
  text-align: center;
}

.sign-in {
  border-right: 1px solid darkgrey;
}

.sign-up {
  text-align: center;
}

.login-box .btn:hover {
  background: #ffbe14;
}

.guest-login {
  padding: 50px;
  text-align: center;
}


// browse page

.browse {
  background-color: #f7f7f6;
}

.wine {
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-image: image-url("wineglasses.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
  height: 300px;
  background-position: center center;
}

.listings-index-item {
  background-color: white;
  margin: 10px;
}

.listing-block {
  height: 290px;
  width: 100%;
  background-color: darkgrey;
}
