/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */


@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.above-foot {
  margin-bottom: 90px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #464646;
  color: #FFFFF5;
}

.bottom-bar {
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  padding: 10px 0;
  background: #747676;
  color: white;
  opacity: 0.5;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-item {
  margin: auto;
  text-align: center;
  display: block;
  width: 100%;
  padding: 20px 0 40px 0;
}

.footer-item li {
  display: inline;
  padding: 0 40px;
}

.footer-item li > a{
  color: #989b99;
  padding: 5px 0;
}


.main-login {
  background-color: lightgrey;
}

.navbar-nav > li > a {
  padding: 0px;
  background-color: white;
}

.noah-nav ul li a:hover {
  background-color: white;
}

.navbar-right a {
  color: #747676;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 40px 40px;
  line-height: 60px;
}

.login-box {
  background-color: white;
  padding: 50px;
}

.login-box h1 {
  font-weight: 700;
  font-size: 22px;
}

.login-box .btn {
  color: white;
  border-bottom: solid 1px #db9a09;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #f7b002;
}

.login-errors {
  margin: auto;
  text-align: center;
}

.sign-in {
  border-right: 1px solid darkgrey;
}

.sign-up {
  text-align: center;
}

.login-box .btn:hover {
  background: #ffbe14;
}

.guest-login {
  padding: 50px;
  text-align: center;
}


// browse page

.browse {
  background-color: #f7f7f6;
}

.wine {
  color: white;
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1445354786/wineglasses_bgrwux.png");
  background-size:   cover;
  background-repeat: no-repeat;
  height: 300px;
  background-position: center center;
}

.listings-index-item {
  background-color: white;
  margin: 10px;
  overflow: hidden;
}

.listings-index-item:hover {
  cursor: pointer;
}

// carousel

.carousel {
  height: 550px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
}
.carousel-inner > .item > img{
  height: 550px;
  display: inline-block;
  margin: auto;
}

.carousel-caption {
  z-index: 10;
}

.item.active{
  overflow: hidden;
  margin: auto;
  min-width: 100%;
}

.center-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 0px 0px 5px 5px #222222;
}

.side {
  min-width: 40%;
  opacity: 0.2;
  position: absolute;
}

.side.left {
  left: 0;
}

.side.right {
  right: 0;
}


// Workshop Main Page

.workshop-text{
  padding: 10px;
  text-align: center;
}

.workshop-title{
  font-family: serif;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-weight: 400;
}

.workshop-body{
  display: none;
}

.see-details:hover{
  cursor: pointer;
}

// main body description and image for workshops

.workshop-description{
  position: relative;
  z-index: 1;
}

.description-text{
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 50px;
  white-space: pre-wrap;
  background-color: white;
  box-shadow: 0px 0px 5px 5px #222222;
  z-index: 10;
}

.workshop-description-background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  -webkit-filter: blur(5px) saturate(2);
  opacity: 0.5;
}


// host info

.host-info {
  text-align: center;
}

.host-img img {
  max-height: 300px;
  border-radius: 20%;
}

.host-about-me {
  text-align: justify;
  white-space: pre-wrap;
}


// home page

#header.header {
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1445277833/muralmax_yhonxd.png");
  background-size: cover;
  display: block;
  height: 600px;
  width: 100%
}

.headercontent {
  display: block;
  padding: 10px;
  padding-top: 250px;
  text-align: center;
  color: white;
}

.maintitle {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
  line-height: 62.5px;
  font-size: 50px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 0 80px

}

.browseworkshops{
  width: 200px;
  margin-top: 50px;
  border-bottom: solid 1px #005c66;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-size: 13px;
  background-color: #06a8b8;
  color: white;
  padding: 0 10px;
  vertical-align: middle;
}

.browseworkshops:hover{
  color: white;
  background-color: #8cd2de;
}


.body-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color:#747676;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 100px;
}


.home-body {
  padding-top: 100px;
}

.body-title {
  margin-bottom: 100px;
}

.body-steps{
  box-sizing: border-box;
}

.exp-home-bg{
  padding-bottom: 150px;
  background-color: #fffefb;
  display: block;
}

.exp-homeimg{
  width: 100%;
  background-size: cover;
  height: 600px;
  display: block;
}

.exp-homeimg.step1{
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1445312113/IMG_0184_kbrmtg.png");
}

.exp-homeimg.step2{
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1445277802/ben_for_home_ykbvr0.jpg");
}

.exp-homeimg.step3{
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/c_scale,w_1080/v1445277829/boat_c6acwi.png");
}

.exp-homequote {
  margin-top: -100px;
}

.exp-homecontent {
  background-color: #fffefb;
  text-align: center;
  line-height: 2;
  font-size: 18px;
  color: #747676;
  position: relative;
  padding: 20px;
  margin-top: -120px;
}

.exp-home-bg{
  padding-bottom: 200px;
}

.exp-homeicon{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/drfyambuq/image/upload/v1445277802/hammer_w1odsx.png");
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: -50px;
  border-radius: 50%;
  margin-left: -50px;
  z-index: 15;
  border: 3px solid;
}

.exp-hometext {
  padding: 50px 20px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: -25px;
    padding: 7px 16px;
    border: 2px solid #333;
    border-radius: 100%;
    font-size: 40px;
    color: #333;
    background-color: #f7b002;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.exp-home-title{
  font-family: 'Montserrat', sans-serif;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
  line-height: 62.5px;
  font-size: 50px;
  text-align: center;
  position: absolute;
  margin-top: 150px;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
}

.final-browse {
  margin-top: -75px;
  margin-bottom: 80px;
}



// profile

.hello {
  text-align: center;
}


.profile-sidebar {
  background-color: darkgrey;
}
.profile-pic{
  display: block;
  height: 300px;
  margin: 20px;
}

.profile-sidebar-text{
  margin: 20px;
  background-color: #CCC;
}

.signup-btn{

  border-bottom: solid 1px #005c66;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-size: 13px;
  background-color: #06a8b8;
  color: white;
  padding: 0 10px;
  vertical-align: middle;
  width: 300px;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;

}

.signup-btn:hover{
  color: white;
  background-color: #8cd2de;
}


.reservation {
  text-align: center;
  background-color: #ccc;
  margin: 15px;
}

.upcoming{
  border-bottom: 2px solid black;
}

.previous{
  border-bottom: 2px solid black;
}

.listings-index-pic{
  position: relative;
  display: block;
}

.image-banner {
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  font-weight: 700;
  color: #fff;
  background: #c00;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0 1px 0 0 #070;
  opacity: 0.7;
}

.active-image-banner {
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  font-weight: 700;
  color: #fff;
  background: #0c0;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0 1px 0 0 #070;
  opacity: 0.8;
}


// modal

.modal {
    display: none;
  }
  .modal.is-active {
    display: block;
  }
  .modal-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
  }
  .modal-content {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px;
    margin-left: -250px;
    transform: translateY(-50%);
    background: white;
    border-radius: 5px;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
  }
  .modal-close:hover {
    color: black;
  }

  .star-bar {
    -webkit-padding-start: 0;
  }

  .star-bar li {
    display: inline;
    list-style: none;
    float: left;
    padding:0px;
    color: #f7b002;
  }

  .reviews-avg-stars{
    position: absolute;
    float: left;
    left: 50%;
    transform: translateX(-50%)
  }

  .reviews-avg-bar{
    background-color: #f8f9f7;
    color: #747676;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
    position: relative;
  }

  .map{
    width: 100%;
    height: 600px;
  }
