/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.above-foot {
  margin-bottom: 90px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #464646;
  color: #FFFFF5;
}

.bottom-bar {
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  padding: 10px 0;
  background: #747676;
  color: white;
  opacity: 0.5;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-item {
  margin: auto;
  text-align: center;
  display: block;
  width: 100%;
  padding: 20px 0 40px 0;
}

.footer-item li {
  display: inline;
  padding: 0 40px;
}

.footer-item li > a{
  color: #989b99;
  padding: 5px 0;
}


.main-login {
  background-color: lightgrey;
}

.navbar-nav > li > a {
  padding: 0px;
  background-color: white;
}

.noah-nav ul li a:hover {
  background-color: white;
}

.navbar-right a {
  color: #747676;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 40px 40px;
  line-height: 60px;
}

.login-box {
  background-color: white;
  padding: 50px;
}

.login-box h1 {
  font-weight: 700;
  font-size: 22px;
}

.login-box .btn {
  color: white;
  border-bottom: solid 1px #db9a09;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding: 0 50px;
  background: #f7b002;
}

.login-errors {
  margin: auto;
  text-align: center;
}

.sign-in {
  border-right: 1px solid darkgrey;
}

.sign-up {
  text-align: center;
}

.login-box .btn:hover {
  background: #ffbe14;
}

.guest-login {
  padding: 50px;
  text-align: center;
}


// browse page

.browse {
  background-color: #f7f7f6;
}

.wine {
  color: white;
  background-image: image-url("wineglasses.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
  height: 300px;
  background-position: center center;
}

.listings-index-item {
  background-color: white;
  margin: 10px;
}

.listing-block {
  height: 290px;
  width: 100%;
  background-color: darkgrey;
}


// carousel

.carousel {
  height: 550px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
}
.carousel-inner > .item > img{
  height: 550px;
  display: inline-block;
  margin: auto;
}

.carousel-caption {
  z-index: 10;
}

.item.active{
  overflow: hidden;
  margin: auto;
  min-width: 100%;
}

.center-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 0px 0px 5px 5px #222222;
}

.side {
  min-width: 40%;
  opacity: 0.2;
  position: absolute;
}

.side.left {
  left: 0;
}

.side.right {
  right: 0;
}


// Workshop Main Page
.reviews-avg-bar{
  background-color: #f8f9f7;
  color: #747676;
  text-align: center;
  padding: 30px;
}

.workshop-text{
  padding: 10px;
  text-align: center;
}

.workshop-title{
  font-family: serif;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  font-weight: 400;
}

.workshop-body{
  display: none;
}

.see-details:hover{
  cursor: pointer;
}

// main body description and image for workshops

.workshop-description{
  position: relative;
  z-index: 1;
}

.description-text{
  margin-top: 50px;
  margin-bottom: 50px;
  white-space: pre-wrap;
  background-color: white;
  box-shadow: 0px 0px 5px 5px #222222;
  z-index: 10;
}

.workshop-description-background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  -webkit-filter: blur(5px) saturate(2);
  opacity: 0.5;
}


// host info
.host-img img{
  border-radius: 50%;
}
